
nav{
    img{
        width: 120px;
        margin: 20px 150px 20px 10px;
    }

}

.p-pp{
    width: 20px;
    margin-right: 15px;
   
}

.dropdown {
    button{
        background-color: white;
        color: darkblue;
    }

}


.navbar {
    display: flex;
    flex-direction: row;
  }

  .nav-link{
    margin-top: 25px;
  }

  #navbarSupportedContent{
    ul{
        display: flex;
        flex-direction: row;
        margin-left: 100px;
    }

    li{
        list-style-type: none;
        padding: 0px 10px 0px 10px;
    }



  } 
