
nav{
    img{
        width: 120px;
        margin: 20px 150px 20px 0px;
    }

}

.zaracho{
    display: none;
}

.p-pp{
    width: 20px;
    margin-right: 15px;
    color:crimson;
   
}

.dropdown {
    position: relative;
    button{
        background-color: white;
        color: #191970;
    }

}

.dropdown-menu{
    position: absolute;
}

.dropdown-item {
    position: absolute;
    top: 0;
    left: -50px;
    
}


#navbarSupportedContentMobile {
    display: none;
}



.navbar {
    display: flex;
    flex-direction: row;
  }

  .nav-link{
    margin-top: 8px;
    
  }

  #navbarSupportedContent{
    ul{
        display: flex;
        flex-direction: row;
        
    }

    li{
        list-style-type: none;
        padding: 0px 10px 0px 10px;
        margin-left: 50px;
    }

    a{
        color:#191970;
    }



  } 


  #bt{
    position: absolute;
    left: 50px;
    background-color: aquamarine;
    color:#191970;
  }




  @media only screen and (max-width: 800px) {
    .zaracho{
        display: block;
        margin: 8px 0px 0px 35px;
    }

    .doc{
        display: none;
    }

    #dropdown1 {
        button{
            background-color:white;
            color: #191970;
            
        }
    
    }

    #dropdown1-menu button{
        position: absolute;
        left: 80px;
        
    }
    
    
	.navbar {
        width: 100%;
		height: 80px;
		margin: 0px auto;
    }


    #navbarSupportedContent{
        ul{
            display: flex;
            flex-direction: row;
            margin-left: 350px;
            position: absolute;
            left: -400px;
            top: 20px;
        }
    
        li{
            list-style-type: none;
            padding: 0px 10px 0px 10px;
        }
    }    

    #navbarSupportedContentMobile {
        display: block;
        

    
        ul{
            position: absolute;
            top: 70px;
            left: -350px;
            width: 100%;
            z-index: 1;
            background-color: cadetblue;
            
        }

    
        li a{
            color: #191970;
            margin-left: 10px;
        }
      }

  }


  