
nav{
    img{
        width: 120px;
        margin: 20px 150px 20px 0px;
    }

}

.zaracho{
    display: none;
}

.p-pp{
    width: 20px;
    margin-right: 15px;
    color:crimson;
   
}

.dropdown {
    position: relative;
    button{
        background-color: white;
        color: #191970;
    }

}

.dropdown-item {
    position: absolute;
    top: 0;
    left: -100px;
    
}


.navbar {
    display: flex;
    flex-direction: row;
  }

  .nav-link{
    margin-top: 8px;
  }

  #navbarSupportedContent{
    ul{
        display: flex;
        flex-direction: row;
        margin-left: 350px;
    }

    li{
        list-style-type: none;
        padding: 0px 10px 0px 10px;
    }

    a{
        color:#191970;
    }



  } 


  #bt{
    position: absolute;
    left: 50px;
    background-color: aquamarine;
    color:#191970;
  }




  @media only screen and (max-width: 800px) {
    .doc{
        display: none;
    }
    .dropdown {
        button{
            background-color:white;
            color: #191970;
            
        }
    
    }

    
	.navbar {
        width: 100%;
		height: 80px;
		margin: 0px auto;
    }


    #navbarSupportedContent{
        ul{
            display: flex;
            flex-direction: row;
            margin-left: 350px;
            position: absolute;
            left: -180px;
            top: 20px;
        }
    
        li{
            list-style-type: none;
            padding: 0px 10px 0px 10px;
        }
    }    

  }