$primary-color:	#848884;


* {
    margin:0px;
    padding: 0px;
}

nav{

    #sidebarContent ul{
        padding: 20px 10px 20px 0px;
        

    }

    #sidebarContent li{
        list-style-type: none;
        margin: 10px 0px 10px 0px;
        width: 300px;

    }

    #sidebarContent a{
        text-decoration: none;
        color: $primary-color;
        padding: 10px 100px 10px 50px;
    }

}

.sidebar{
    width: 190px;
    background-color: white;
}