
.user-header{
    h1{
        position: absolute;
        top: 150px;
        left: 250px;
        font-family: Arial, Helvetica, sans-serif;
        color:darkblue;
        font-weight: bolder;
    }


}


.users, .active-users, .users-with-loans, .users-with-savings{
    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 600;
        margin: 10px 0px 5px 35px;
    }

    p{
        
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bolder;  
        margin: 10px 0px 5px 35px;
        color: darkblue;

    }

}

.active{
    background-color: lightblue;
    border-left: 10px solid cornflowerblue; 
}

.blu{
    background-color: #FAF9F6;
    }


.users{
    background-color: white;
    position: absolute;
    top: 250px;
    left: 238px;
    width: 240px;
    padding: 15px 0px 15px 0px;
}

.active-users{
    
    background-color: white;
    position: absolute;
    top: 250px;
    left: 510px;
    width: 240px;
    padding: 15px 0px 15px 0px;
}


.users-with-loans{
     
    background-color: white;
    position: absolute;
    top: 250px;
    left: 780px;
    width: 240px;
    padding: 15px 0px 15px 0px;
}

.users-with-savings{
     
    background-color: white;
    position: absolute;
    top: 250px;
    left: 1050px;
    width: 240px;
    padding: 15px 0px 15px 0px;
}

.fontawesome-users{
    margin: 20px 0px 5px 35px;
    background-color: 	#F3CFC6;
    color: #FF69B4;
    padding:12px 12px 12px 12px;
    border-radius: 999px;

}


.fontawesome-active{
    margin: 20px 0px 5px 35px;
    background-color: 		#CCCCFF;
    color: 	#0F52BA;
    padding:12px 12px 12px 12px;
    border-radius: 999px;
}


.fontawesome-loans{
    margin: 20px 0px 5px 35px;
    background-color: #FFE5B4;
    color: #FF7518;
    padding:12px 12px 12px 12px;
    border-radius: 999px;
}


.fontawesome-savings{
    margin: 20px 0px 5px 35px;
    background-color: #F2D2BD;
    color:#DE3163;
    padding:12px 12px 12px 12px;
    border-radius: 999px;
}