*{
    margin: 0px;
    padding: 0px;
}

/* Navbar */

.navbar{
    display: flex;
    flex-direction: row;
    padding: 10px 0px 0px 0px;
}

.sekior-logo{
    margin: 20px 0px 0px 20px;
    width: 40px;
}

#navbarSupportedContent{
    margin-left: 1300px;
}

#navbarSupportedContent button{
    margin-top: 25px;
    background-color: #36454F;
    color: white;
    width: 60px;
    height: 35px;
    border: none;
    border-radius: 20px;
}

.zaracho{
    display: none;
}

/* Home */


.body-container{
    background-color: whitesmoke;
}
.body-container hr{
    margin-top: 25px;
}

.first-text{
    width: 500px;
    margin: 130px 0px 0px 200px;

}

.first-text h1{
    margin: 0px 0px 10px 0px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.community{
    color: #181818;
}

.safety{
    color: #181818;
}

.initiative {
    color:#355E3B;
}

.first-text h4 {
    font-weight: lighter;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 380px;
    font-weight: 500;
    color: #808080;
}

.first-image img{
    width: 800px;
    position: absolute;
    right: 70px;
    top: 180px;
}

.banner{
    width: 200px;
    position: absolute;
    right: 450px;
    top: 550px;
}

.second-image img{
    width: 250px;
    position: absolute;
    left: 320px;
    margin: 230px 0px 0px 0px;
}

.second-text{
    width: 500px;
    margin: 300px 0px 0px 730px ;
}

.second-text h1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.ultimate{
    color: #181818;
}

.comm-safe{
    color: #355E3B;
}

.sef{
    margin: 20px 0px 10px 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #808080;
}

.seff{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #808080;
}

.redefining h1{
    color:#202020;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    text-align: center;
    margin: 270px 0px 0px 0px;
}

.instant-emer-noti{
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 0px 0px 0px 300px ;
}

.siren-div{
    width: 600px;
    display: flex;
    flex-direction: row;
    transition: 1s;
}

.siren-div:hover{
    transform: scale(1.2);
}


.siren-sub-div{
    margin: 0px 0px 0px 50px;
}


.siren-div img{
    width: 40px;
    height: 40px;
    margin-top: 50px;
}

.emer-type-click{
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    margin: 35px 0px 15px 0px;
}

.click-on-exact{
    width: 350px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #808080;
    margin: 8px 0px 8px 0px;
    
}

.alert-div{
    width: 600px;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 20px;
    transition: 1s;
}

.alert-div:hover{
    transform: scale(1.2);
}

.alert-sub-div{
    margin: 0px 0px 0px 40px;
}


.alert-div img{
    width: 40px;
    height: 40px;
    margin-top: 50px;
    background-color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
}

.instant-notification{
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    margin: 35px 0px 15px 0px;
}

.users-can-reach-help{
    width: 350px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #808080;
    margin: 8px 0px 8px 0px;
}

.automated-periodic{
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 0px 0px 0px 290px ;
}

.tracker-div{
    width: 600px;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 13px;
    transition: 1s;
}


.tracker-div:hover{
    transform: scale(1.2);
}

.tracker-sub-div{
    margin: 0px 0px 0px 40px;
}


.tracker-div img{
    width: 40px;
    height: 40px;
    margin-top: 50px;
}

.automated-tracker{
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    margin: 35px 0px 15px 0px;
}

.regardless-of-type{
    width: 350px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #808080;
    margin: 8px 0px 8px 0px;
}

.periodic-safety-div{
    width: 600px;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 25px;
    transition: 1s;
}

.periodic-safety-div:hover{
    transform: scale(1.2);

}


.periodic-safety-sub-div{
    margin: 0px 0px 0px 40px;
}


.periodic-safety-div img{
    width: 40px;
    height: 40px;
    margin-top: 50px;
}

.periodic-safety-update{
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    margin: 35px 0px 15px 0px;
}

.registered-users-receive{
    width: 350px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #808080;
    margin: 8px 0px 8px 0px;
}

.user-friendly-support{
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 0px 0px 0px 290px ;
}

.user-friendly-interface-div{
    width: 600px;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 20px;
    transition: 1s;
}


.user-friendly-interface-div:hover{
    transform: scale(1.2);
}

.user-friendly-interface-sub-div{
    margin: 0px 0px 0px 40px;
}


.user-friendly-interface-div img{
    width: 40px;
    height: 40px;
    margin-top: 50px;
}

.user-friendly-interface{
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    margin: 35px 0px 15px 0px;
}

.our-software-is-easy{
    width: 350px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #808080;
    margin: 8px 0px 8px 0px;
}

.support-div{
    width: 600px;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 20px;
    transition: 1s;
}


.support-div:hover{
    transform: scale(1.2);
}


.support-sub-div{
    margin: 0px 0px 0px 40px;
}


.support-div img{
    width: 40px;
    height: 40px;
    margin-top: 50px;
}

.support{
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #181818;
    margin: 35px 0px 15px 0px;
}

.explain-how-the-team{
    width: 350px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #808080;
    margin: 8px 0px 8px 0px;
}

.still-have-a-question{
    text-align: center;
    margin: 50px 0px 0px 450px;
    background-color: #B6D0E2;
    width:550px;
    height: 30px;
    padding-top: 10px;
    border-radius: 20px;
}

.still-have-a-question h3{
    color: gray;
    font-weight: 200;    
    font-family: Arial, Helvetica, sans-serif;

}

.still-have-a-question a{
    color:#6082B6;
}


.third-image-one img{
    width: 380px;
    position: absolute;
    left: 240px;
    top: 2495px;

}

.third-image-two img{
    width: 800px;
    margin: 150px 0px 0px 350px;
    
}

.banner-and-third-text{
    display: flex;
    flex-direction: row;
}

.bannerr{
    position: absolute;
    left: 0px;
    opacity: 0.3;
}

.third-text{
    margin: 0px 0px 0px 430px;
}
.third-text h1{
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
}

.lets-schedule{
    color: #181818;
}

.a-live-demo{
    color: #355E3B;
    margin: 0px 0px 0px 58px;
}

.our-cutting-edge{
    margin: 5px 0px 5px 10px;
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #808080;
}

.detect-and-prevent{
    margin: 0px 0px 5px 38px;
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #808080;
}

.community-stays-safe{  
    margin: 0px 0px 5px 80px;
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #808080;
}



.bannerrr{
    position: absolute;
    right: 0px;
}

.bannerrr img{
    opacity: 0.3;
}

.app-store-div{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:  100px 0px 0px 600px;

}

.apple-div img{
    width: 50px;
    margin: 0px 0px 0px 50px;
}


.text-btn-div{
    background-color: white;
}


.apple-text-div h5{
    color:#808080;
    font-weight: 100;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.apple-text-div h1{
    color: #355E3B;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


/* Footer */

.footer-div{
    display: flex;
    flex-direction: row;
}

.sekior-logo-footer{
    margin: 30px 0px 30px 200px ;
    width: 40px;
}

.ig{
    width: 20px;
    height: 20px;
}

.twitter{
    width: 20px;
    height: 20px;
}

.fb{
    width: 20px;
    height: 20px;
}

.ig-div{
    display: flex;
    flex-direction: row;
    margin-left: 700px;
    margin-top: 33px;
}

.ig-div a{
    text-decoration: none;
}

.ig-div h5{
    color: #808080;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px 0px 0px 10px;
}

.twitter-div{
    display: flex;
    flex-direction: row;
    margin-top: 33px;
    margin-left: 20px;
}

.twitter-div a{
    text-decoration: none;
}

.twitter-div h5{
    color: #808080;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px 0px 0px 10px;
}

.fb-div{
    display: flex;
    flex-direction: row;
    margin-top: 33px;
    margin-left: 20px;
}

.fb-div a{
    text-decoration: none;
}

.fb-div h5{
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
    margin: 1px 0px 0px 10px;;
}

.overall{
    background-color: whitesmoke;
    padding-bottom: 20px;
}

.overall hr{
    width: 1050px;
    margin: 0px 0px 30px 200px;
}




@media only screen and (max-width:700px){

    
    /* Navbar */

    .navbar{
        width: 400px;
        height: 80px;
        background-color:#B6D0E2;
        overflow-x: hidden;
    }

    #navbarSupportedContent button{
        display: none;
    }

    #navbarSupportedContent{
        margin-left: 280px;
    }

    #navbarSupportedContentMobile{
        position: fixed;
        background-color: black;
        color: white;
        width: 370px;
        height: 100vh;
        margin-top: -10px ;
        margin-left: 120px;
        padding: 280px 0px 0px 50px;
    }

    #navbarSupportedContentMobile h1{
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 0px;
        font-size: 20px;
    }

    #navbarSupportedContentMobile button{
        margin-top: 25px;
        background-color: #36454F;
        color: white;
        width: 60px;
        height: 35px;
        border: none;
        border-radius: 20px;

    }

    .zaracho{
        display: block;
        margin-top: 35px ;
        color: #909090;
        z-index: 99;
        font-size: 20px;
        font-weight: bolder;
    }


    /* Home */

    .body-container{
        width: 400px;
        color: white;
        overflow-x: hidden;
    }


    .opp hr{
        display: none;
    }
    
    
    .first-text{
        width: 500px;
        margin: 25px 0px 0px 30px;
    }

    
    .first-text h1{
        margin: 0px 0px 10px 0px;
        font-size: 38px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .first-text h4{
        width: 340px;
        font-size: 17px;
    }

    .first-image img{
        display: none;
    }

    .banner img{
        width: 320px;
        position: absolute;
        left: 270px;
        top: 200px;
    }

    .second-image img{
        width: 130px;
        position: absolute;
        left: 0px;
        margin: 520px 0px 0px 140px;
    }

    .second-text{
        width: 330px;
        margin: 900px 0px 0px 30px ;
    }
    
    .second-text h1{
        font-size: 38px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .second-text h4{
        width: 330px;
        font-size: 17px;
    }

    .redefining h1{
        margin: 130px 0px 0px 90px;
        width: 200px;
        font-size: 30px;
        font-weight: 700;
        
    }

    .instant-emer-noti{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 70px;
    }

    .emer-type-click{
        width: 150px;
        font-size: 15px;
    }

    .click-on-exact{
        font-size: 14px;
        width: 200px;
    }

    .alert-div{
        margin: 0px 0px 0px 5px;
    }
    
    .instant-notification{
        width: 150px;
        font-size: 15px;

    }

    .users-can-reach-help{
        font-size: 14px;
        width: 200px;
    }

    .automated-periodic{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 70px;
    }

    .tracker-div{
        margin: 0px 0px 0px 5px;
    }

    .automated-tracker{
        width: 150px;
        font-size: 15px;
    }

    .regardless-of-type{
        font-size: 14px;
        width: 200px;

    }

    .periodic-safety-div{
        margin: 0px 0px 0px 5px;
    }

    .periodic-safety-update{
        width: 150px;
        font-size: 15px;
    }

    .registered-users-receive{
        font-size: 14px;
        width: 200px;
    }

    .user-friendly-support{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 70px;

    }

    .user-friendly-interface-div{
        margin: 0px 0px 0px 5px;
    }

    .user-friendly-interface{
        width: 150px;
        font-size: 15px;
    }

    .our-software-is-easy{
        font-size: 14px;
        width: 200px;
    }

    .support-div{
        margin: 0px 0px 0px 5px;
    }

    .support{
        width: 150px;
        font-size: 15px;
    }

    .explain-how-the-team{
        font-size: 14px;
        width: 200px;
    }

    .still-have-a-question{
        width: 270px;
        height: 50px;
        margin: 20px 0px 0px 50px;
    }

    .still-have-a-question h3{
        font-size: 14px;
    }
   
    .third-image-one img {
        margin-top: 950px;
        position: absolute;
        left: 40px;
        width: 150px;
    }

    .third-image-two img{
        margin: 100px 0px 0px 80px;
        width: 250px;

    }

    .bannerr img{
        width: 385px;
        position: absolute;
        left: 5px;
        top: -1100px;
        opacity: 0.2;
   }

    .bannerrr img{
        display: none;
   }

    .third-text{
        margin: 0px 0px 0px 20px;
   }
    
    .third-text h1{
        width: 150px;
        font-size: 50px;
    }

    .lets-schedule{
        margin-left: 80px;
    }

    .a-live-demo{
        margin-left: 80px;
    }

    .third-text h5{
        font-size: 18px;
    }

    .our-cutting-edge{
        margin: 5px 10px 0px 20px;
    }

    .detect-and-prevent{
        margin: 0px 0px 0px 20px;
    }

    .community-stays-safe{
        margin: 0px 0px 0px 20px;
    }

    .app-store-div{
        margin: 50px 0px 0px 60px ;

    }

    /* Footer */

    .footer-div{
        display: flex;
        flex-direction: column;
    }

    .ig-div{
        margin: 0px 0px 0px 0px;
        position: absolute;
        left: 50px;
        margin-top: 100px;
    }

    .twitter-div{
        position: absolute;
        left: 130px;
        margin-top: 100px ;
    }

    .fb-div{
        position: absolute;
        left: 210px;
        margin-top: 100px ;
    }

    .sekior-logo-footer{
        margin: 30px 0px 30px 170px ;
        width: 40px;
    }
    
    
    .overall hr{
        width: 390px;
        margin: 80px 0px 30px 0px;
    }
    
}